{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt=""  width="1295px;" height="550px">
</div>
<div>
 <p class="text-justify"><h2><b>REASONS TO BANK WITH US</b></h2><br>
     Accessing your savings account is easy and convenient with our wide network of 1300+ branches and 24x7 ATMs across the country. Your savings account is always at your fingertips with our best in class net banking feature, SMS banking and our award winning mobile banking app for all your online transactions.<br><b>FIND A SAVINGS ACCOUNT THAT SUITS YOUR NEEDS</b><br>
Apart from regular features and offers like cashbacks and discounts, Kotak Bank have also come up with special savings account programmes designed specifically for women, children, senior citizens, working professionals and for the entire family. Please provide us with a few details related to your requirements so that we can find the most suitable savings account to meet your banking needs. </p>
</div>
<br>
<div class="team">
		<div class="container">
			<div class="row">
				<div class>
<!--					<div class="section_subtitle">simply amazing places</div>-->
					<h2><b>Managing Directors</b></h2>
				</div>
			</div>
			<div class="row team_row">

				<!-- Team Item -->


				<div class="col-xl-3 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="{% static 'img/md1.jpg' %}" alt="" style="width:200px;height:200px;"></div>
						<div class="team_content">
							<div class="team_title">Mr.Radhakrishnan</div>
							<div class="team_text">

							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="{% static 'img/md2.jpg' %}" alt=""  style="width:200px;height:200px;"></div>
						<div class="team_content">
							<div class="team_title">James Williams</div>
							<div class="team_text">
<!--								<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>&ndash;&gt;-->
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="{% static 'img/md3.jpg' %}" alt=""  style="width:200px;height:200px;"></div>
						<div class="team_content">
							<div class="team_title">Mr.HariNarayan</div>
							<div class="team_text">
<!--								<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>&ndash;&gt;-->
							</div>
						</div>
					</div>
				</div>


<!--&lt;!&ndash; Footer Contact Item &ndash;&gt;-->
<!--						<div class="container">-->
<!--                        <div class="col-xl-4 footer_contact_col">-->
<!--							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">-->
<!--&lt;!&ndash;								<div class="footer_contact_icon"><img src="{% static 'img/contactimg.jpg' %}" alt="" width="1295px;" height="550px;"></div>&ndash;&gt;-->
<!--								<div class="footer_contact_title" style="text-right">Contact Us</div>-->
<!--								<div class="footer_contact_list">-->
<!--									<ul>-->
<!--										<li>janatabank@gmail.com</li>-->
<!--										<li>janatabankoffical.com</li>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--                        </div>-->

					</div>
    {% endblock %}