
<!DOCTYPE html>
<html lang="en">
<body>
<form action="register" method="POST">

     {% csrf_token %}
    <h2>Register Page</h2><br>
    <input type="text" name="Username" placeholder="Enter Username"><br>
    <input type="text" name="Firstname" placeholder="Enter your Firstname"><br>
    <input type="text" name="Lastname" placeholder="Enter your Lastname"><br>
    <input type="email" name="email" placeholder="Enter your mail id"><br>
    <input type="text" name="Password" placeholder="Enter password"><br>
    <input type="text" name="Password1" placeholder="Conform password"><br>
    <input type="submit"><br>
    </form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>