

<form method="POST">
    {% csrf_token %}
    <h2>Login To Continue</h2><br>

    <input type="text" name="Username" placeholder="Username"><br>
    <input type="text" name="Firstname" placeholder="Enter your Firstname"><br>
    <input type="text" name="Lastname" placeholder="Enter your Lastname"><br>
    <input type="email" name="email" placeholder="Enter your mail id"><br>
    <input type="text" name="Password" placeholder="Password"><br>
    <input type="text" name="Password1" placeholder="Conform Password"><br>
    <input type="submit">
</form>


